.parent {
    width: 300px;
    height: 300px;
    background-color: black;
    margin-left: 100px;
    position: relative;
}


.red-box {
    width: 64px;
    height: 64px;
    background-color: red;
    position: absolute;
    left: 236px;
    top: 0px;
}